* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 40px;
}

#bird {
    width: 100%;
    margin: 0 auto;
    /* position: relative; */
    display: flex;
    align-items: center;
}

#bird button {
    /* position: absolute;
    left: 15px;
    top: 15px; */
    margin-left: 40px;
    margin-top: 10px;
    padding: 5px;
}

#bird #bird-i {
    margin-left: 30%;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.container #google {
    display: flex;
    width: 50%;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.container #google p {
    margin-left: 15px;
}

.container #apple {
    display: flex;
    width: 50%;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.container #apple p {
    margin-left: 15px;
    font-weight: bold;
}

 #line {
    width: 50%;
    margin: 10px auto;
 }

 #line hr { 
    width: 45%;
    display: inline-block;
    vertical-align: middle;
 }

 #line p {
    display: inline;
    font-weight: bold;
 }

 #input1 {
    width: 50%;
    margin: 10px auto;  
 }

 #input1 input {
    padding: 20px;
    width: 100%;
 }

 #btn {
    width: 50%;
    margin: 10px auto;
 }

 #btn p {
    background-color: #000;
    color: #fff;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
 }

 #btn-2 {
    width: 50%;
    margin: 10px auto;
 }

 #btn-2 p {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
 }

 #foot {
    width: 50%;
    margin: 50px auto;
    display: flex;
 }

 #foot a {
    text-decoration: none;
    margin-left: 3px;
 }

 @media (max-width: 576px) {
    .container {
        width: 100%;
    }
 }